.nobookings {
  color: #ed1c24;
  position: absolute;
  left: 30%;
  top: 50%;
}

.bookingtable th {
  border-bottom: none !important;
  border-top: none !important;
  text-align: center;
}

.bookingstr {
  width: 100% !important;
}
.bookingtable table {
  border-collapse: collapse;
}
.historytable,
.upcometable {
  border-collapse: separate !important;
  border-spacing: 0 30px !important;
}

.historytable td,
.upcometable td {
  border: 1px solid #eee !important;
  padding: 15px;
  vertical-align: middle !important;
}

.bookingtable {
  padding-top: 20px;
}

.bookingtable .tabletype {
  color: #ed1c24;
  border-left: 5px solid #ed1c24;
  padding-left: 10px;
}

.tabletype h5 {
  font-weight: bold !important;
}

.bookingtable th {
  color: #ed1c24 !important;
}
/*BOOKING PAGE*/

.bookingpage {
  padding-top: 50px;
}

.dayweekbuttons button {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  outline: none !important;
}

.dayweekbuttons button:focus,
.dayweekbuttons button:hover {
  outline: none !important;
  background-color: transparent !important;
}

.dayweekbuttons button:active {
  background-color: transparent;
  outline: none;
}

.e-resource-text {
  color: #ed1c24 !important;
  font-weight: bold;
  font-size: 20px !important;
}

.e-toolbar-item span,
.e-date-range span,
.e-overflow-show span {
  /* background-color: #ed1c24 !important; */
  color: #ed1c24 !important;
  box-shadow: none !important;
  border-color: #ed1c24 !important;
}
.e-calendar .e-content td.e-selected span.e-day {
  background-color: #ed1c24 !important;
}

.e-calendar .e-content td.e-today span.e-day {
  border-color: #ed1c24 !important;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  border-color: #ed1c24 !important;
  background-color: #ed1c24 !important;
}

.e-schedule .e-timeline-view .e-navigate {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.booknowbtn {
  text-align: right;
  margin: 20px 0 40px 0;
}
.booknowbtn button {
  background-color: #ed1c24 !important;
  outline: none !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  transition: transform 80ms ease-in;
  border: 1px solid #ed1c24;
}
.booknowbtn button:active {
  transform: scale(0.95);
  background-color: #ed1c24 !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  transition: transform 80ms ease-in;
  outline: none !important;
}
.booknowbtn button:focus {
  outline: none !important;
}

/* .e-schedule .e-content-wrap {
overflow: hidden;
} */
/* .e-work-cells{
  background-color: black !important;
} */
.bgcolooor {
  background-color: #ed1c24 !important;
}

.cancelbtn {
  background-color: #ed1c24 !important;
  border: none !important;
}

.e-schedule .e-timeline-view .e-work-cells {
  background-color: #fff !important;
}

.redColor {
  width: 60px;
  height: 60px;
  background-color: #ed1c24;
}

.grayColor {
  width: 60px;
  height: 60px;
  background-color: #d2d0d0;
  margin-top: 10px;
}
