.nobookings {
  color: #ed1c24;
  position: absolute;
  left: 30%;
  top: 50%;
}

.bookingtable th {
  border-bottom: none !important;
  border-top: none !important;
  padding-top: 5%;
  text-align: center;
}

.bookingtable td {
  border-top: none !important;
}

.bookingstr {
  border: 1px solid #eee !important;
  width: 100% !important;
  margin-top: 2%;
}

.bookingtable {
  padding-top: 20px;
}

.bookingtable .tabletype {
  color: #ed1c24;
  border-left: 5px solid #ed1c24;
  padding-left: 10px;
}

.tabletype h5 {
  font-weight: bold !important;
}

.bookingtable th {
  color: #ed1c24 !important;
}

.bookingtable tr {
  margin-bottom: 10px !important;
}
