

.closebtn{
    border:white;
    background-color: white ;
    color:black
}

.closebtn:hover{
    border:white;
    background-color: white ;
    color:black
}

.closebtn:not(:disabled):not(.disabled).active, .closebtn:not(:disabled):not(.disabled):active, .show>.closebtn.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: white;
}

.closebtn:not(:disabled):not(.disabled).active:focus, .closebtn:not(:disabled):not(.disabled):active:focus, .show>.closebtn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
    border-color: white;
}

 .bookmodal .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0rem !important;
    border-bottom: 1px solid white !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

/* .bookmodal .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid red !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
} */


.paymentanddetailsbtn .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: white;
    border-color: white;
}

 
.paymentanddetailsbtn .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
    border-color: white;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid white;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}