.userdatachanemodel .modal-header{
    color: #ed1c24;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid white !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.userdatachanemodel .modal-footer{   
    border-bottom: 1px solid white !important;
    border-top: 1px solid white !important;}


    .userdatachanemodel .savebtn{
        margin: auto;
        background: #ed1c24;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 25px;
        transition: transform 80ms ease-in;
        border: 1px solid #ed1c24;
    }


    .savebtn:active {
        transform: scale(0.95);
        background-color: #ed1c24 !important;
        border-color: #ed1c24;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 25px;
        transition: transform 80ms ease-in;
        border: 1px solid #ed1c24;
        outline: none !important}

        .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #ed1c24;
            border-color: #ed1c24;
        }