.navLogo {
    /* width: 115px; */
    width: 85px;
    margin-bottom: 5px;
    
  }
  .navbar {
    background-color: #FFFFFF;
    padding: 0px !important;
    z-index: 9999999999;
    text-align: center;
  }
  
  .navbar-nav a {
    padding:  8px 25px 10px 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
  
    /* font-family: Arial; */
    font-style: normal;
    font-weight: 600;
    color: #282828;
    text-align: center;
  }
  
  .navbar-brand {
    margin-left: 100px;
  }
  @media (max-width: 600px) {
    .navbar-brand {
      margin-left: 10px;
    }
  }
  
  @media (max-width: 992px) and (min-width: 601px) {
    .navbar-brand {
      margin-left: 10px;
    }
  }
  
  .navbar-toggler {
    margin: 10px;
    background-color: #FFFFFF;
  }
  
  

/* .navbar-toggler-icon {
    color: gray;
} */
  

.navbar-dark .navbar-toggler-icon{
    background-image: url(../../Images/bar.png)}


@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-left: 550px;
} 
}


@media (min-width: 991px) and (max-width:1132px){

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin-left: 300px;}
}