
.Policies {
padding-left: 55px;
border-left: 2px solid  #D2D0D0
}

.Regulations i{
    color: #ED1C24;
    font-size: 5px;
    padding-right: 15px;
    }

.Policies h2{
color: #ED1C24;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
}


.Policies i{
color: #ED1C24;
font-size: 5px;
padding-right: 15px;
}

.detailsbtn{
    background: none;
    border: none;
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-transform: uppercase;
}

.detailsbtn:hover{
    background: none;
    /* color:black; */
    border: none;
}