.Purchasecard{
    background-color: #ED1C24;
    color:white;
    width: 100%;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #ED1C24;
    border-top: 1px solid #ED1C24;
}
.cardbtn .btn-primary {
    color: #fff;
    background-color: #ED1C24;
    border-color: #ED1C24 ;
}


.Purchasecard .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #ED1C24;
}

.cardbtn .btn-primary:hover {
    color: #fff;
    background-color: #ED1C24 !important;
    border-color: #ED1C24 !important;
}

