.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ed1c24 ;
    background-color: white;
    border-left: 5px solid #ed1c24 ;
}

.nav-tabs {
    border-bottom: 1px solid white
}

.tabsheader h1{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #ED1C24;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: white white white white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:#ED1C24;
    background-color: #fff;
    border-color: #fff #fff #fff #ED1C24;;
}

.nav-tabs .nav-link:active {
    border: 1px solid white;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.tabsheader a  {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}