.rooms {
  border-left: 1px solid #d2d0d0;
  height: auto;
  padding: 6%;
  display: flex;
  justify-content: center;
}

.roomtypedrop {
  padding-left: 2%;
  border-left: 5px solid #ed1c24;
  display: flex;
}

.roomtypedrop{
  padding-left: 4%;
    border-left: 5px solid #ed1c24;
    display: flex;
}
.roomtypedrop select {
  width: 90% !important;
  height: 60px !important;
  text-align: center !important;
  border-color: #ed1c24 !important;
}

.monthdrop {
  /* width: 100% !important; */
  padding-left: 2%;
  border-left: 5px solid #ed1c24;
  display: flex;
}

.monthdrop select {
  width: 50% !important;
  height: 60px !important;
  text-align: center !important;
  border-color: #ed1c24 !important;
}

.daydrop {
  width: 50% !important;
  padding-left: 1%;
}

.daydrop select {
  width: 50% !important;
  height: 60px !important;
  text-align: center !important;
  border-color: #ed1c24 !important;
}
.daydrop .startTime {
  width: 50% !important;
  height: 60px !important;
  text-align: center !important;
  border-color: #ed1c24 !important;
}

.rooms .daydrop select {
  width: 40% !important;
  height: 30px !important;
  text-align: center !important;
  border-color: #ed1c24 !important;
}

.nextBtn {
  background: #ed1c24;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 25px;
  transition: transform 80ms ease-in;
  border: 1px solid #ed1c24;
}

.nextBtn:hover {
  background: #ed1c24;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 25px;
  transition: transform 80ms ease-in;
  border: 1px solid #ed1c24;
}
 .monthdrop {
    /* width: 100% !important; */
    padding-left: 4%;
    border-left: 5px solid #ed1c24;
    display: flex;
  }

  /* .monthdrop input{
    width: 50% !important;
    height: 60px !important;
    text-align: center !important;
    border-color: #ed1c24 !important;
  } */


  label p{
font-family: Arial;
font-style: normal;
font-weight: bolder;
font-size: 30px;
text-transform: uppercase;
color: #ED1C24;

  }
  .DayPickerInput input{
    height: 55px !important;
    text-align: center !important;
    border: 1px solid #ed1c24 !important;
  }
  

  .DayPickerInput input{
    height: 60px !important;
  }
   .monthdrop select {
    width: 50% !important;
    height: 60px !important;
    text-align: center !important;
    border-color: #ed1c24 !important;
  }
  
  .daydrop{
    /* width: 50% !important; */
    padding-left: 1%
   
  }

  .daydrop select{
    width: 70% !important;
    height: 60px !important;
    text-align: center !important;
    border-color: #ed1c24 !important;
  } 
  .daydrop .startTime {
    width: 50% !important;
    height: 60px !important;
    text-align: center !important;
    border-color: #ed1c24 !important;
  }
 
   
  .rooms  .daydrop select {
    width: 40% !important;
    height: 30px !important;
    text-align: center !important;
    border-color: #ed1c24 !important;
  }

.roomdetails {
  border-left: 1px solid #d2d0d0;
  padding: 20px;
}

.react-time-picker {
  width: 90%;
}
.react-time-picker__wrapper {
  border-color: #ed1c24 !important;
}


.react-time-picker__inputGroup__input {
width: 20px !important;
}
  .roomdetails{
    border-left: 1px solid  #D2D0D0;
    padding: 50px;
    padding-left: 30px;
    padding-right: 93px;
  }

