* {
  transition: all 1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}